.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  & .image {
    width: 47px;
    height: 47px;
  }

  & .text {
    font-size: 32px;
  }

  &.large {
    gap: 15px;

    & .image {
      width: 75px;
      height: 75px;
    }

    & .text {
      font-size: 51px;
    }
  }
}
