.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 700px;

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & .text {
    margin: 20px 0 18px;
    font-size: 24px;
  }

  & .button {
    display: flex;
    gap: 10px;
    width: 200px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;

    & .list {
      justify-content: center;
      align-items: center;
    }
  }
}
