.section {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  z-index: 100;
  box-shadow: 0px 0px 5px 0px var(--black-one);
  background-color: var(--background-one);
  width: 100%;
  height: 70px;

  & .container {
    display: grid;
    grid-template-columns: 200px 1fr 140px;
    grid-template-areas: 'logo navigation button';

    & .logo {
      display: flex;
      grid-area: logo;
      justify-content: flex-start;
      align-items: center;
    }
    & .navigation {
      display: flex;
      grid-area: navigation;
      justify-content: center;
      align-items: center;
    }
    & .button {
      display: flex;
      grid-area: button;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

@media (max-width: 1024px) {
  .section {
    & .container {
      grid-template-columns: 150px 1fr 150px;
      grid-template-areas: 'logo button navigation';

      & .navigation {
        justify-content: flex-end;
      }
      & .button {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .section {
    & .container {
      grid-template-columns: 150px 1fr 40px;
    }
  }
}
